<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert form</title>
</head>
<body>
    <h1>スタッフ情報登録</h1>    
    <form action="/si" method="post">
        <table border="1" style="text-align:center" id="center">
            <tr>    
                <th>指名</th>
                <th>年齢</th>
            </tr>
            <tr>
                <td><input type="text" name="name" required></td>
                <td><input type="text" name="age" required></td>
            </tr>
        </table><br/>
        <input type="submit" value="登録する">
    </form>
</body>
</html>
